body html
  padding 0
  margin 0
  height 100%

.unselectable
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.postSection, .commentSection, .generalPadding
  padding 10px 20px 10px 20px

.heading
  margin-top 15px
  text-align center

.formWindow
  border #000 solid 1px
  z-index 1000
  position fixed
  top 30%
  left 30%
  margin 0 auto
  height 40%
  width 40%
  background-color #d6d6d6
  opacity 1
  text-align center

.formComponent
  position fixed

.spanInfo
  margin 10px 20px 10px 20px

.navbar
  margin-bottom 0
  height 5vh

#homepageBackground
  background-image url("http://i.imgur.com/z4rGyE3.png")
  filter brightness(65%)
  height 95vh
  width 100%
  position relative

#mainHeading
  top 50%
  margin auto
  textAlign center
  left 50%
  transform translate(-50%, -50%)
  position absolute
  font-size 100px
  color: white

.downArrow
  transform: rotate(270deg) translate(-50%, -20%)
  left 50%
  font-size 100px
  top 85vh

#aboutLink
  cursor: pointer
  transform translate(-50%, -50%)
  left 50%
  font-size 30px
  top 91vh
  position absolute
  opacity 0
  color: silver
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
  &:hover
    opacity 1

textarea
  resize none

.updateFormTextarea
  transform translate(-35%, -5%)
  left 50%