.unselectable
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.postSection, .commentSection, .generalPadding
  padding 10px 20px 10px 20px

.heading
  margin auto
  text-align center

.formWindow
  border #000 solid 1px
  z-index 1000
  position fixed
  top 30%
  left 30%
  margin 0 auto
  height 40%
  width 40%
  background-color #d6d6d6
  opacity 1

.formComponent
  position fixed

.spanInfo
  margin 10px 20px 10px 20px

