.postSection
  background-color #F8F8F8
  border solid 1px #DCDCDC
  &:hover
    background-color #FFFFFF

.postForm
  left 50vw
  transform translate(-50%, 0)
  display inline-block
  position relative

.postTextArea
  position relative
  display block
  resize none
  z-index auto

.postFormButton
  position absolute
  bottom 18px
  right 18px
  z-index 1000
  opacity 0.33
  &:hover
    opacity 1

.postTextAlign
  text-align center