.postSection {
  background-color: #f8f8f8;
  border: solid 1px #dcdcdc;
}
.postSection:hover {
  background-color: #fff;
}
.postForm {
  left: 50vw;
  transform: translate(-50%, 0);
    display: inline-block;
    position: relative;
}
.postTextArea {
    position: relative;
    display: block;
    resize: none;
}
.postFormButton {
    position: absolute;
    bottom: 18px;
    right: 18px;
    z-index: 1000;
    opacity: 0.33;
}
.postFormButton:hover {
    opacity: 1;
}
.postTextAlign {
    text-align: center;
}

#homepageBackground {
    background-image: url("http://i.imgur.com/z4rGyE3.png");
    filter: brightness(65%);
    height: 95vh;
    width: 100%;
    position: relative;
}

#mainHeading {
    top: 50%;
    margin: auto;
    textAlign: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 100px;
    color: #fff;
}

.downArrow {
    transform: rotate(270deg) translate(-50%, -20%);
    left: 50%;
    font-size: 100px;
    top: 85vh;
}

#aboutLink {
  cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 30px;
    top: 91vh;
    position: absolute;
    opacity: 0;
    color: #c0c0c0;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

#aboutLink:hover {
    opacity: 1;
}

.aboutPage {
  height: 100vh;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(50%) blur(5px);
    background-image: url("https://i.imgur.com/YIl9AUA.jpg");
}

.aboutContainer {
  background-color: #000;
    color: #fff;
    max-width: 50%;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0.7;
    display: inline-block;
}

.aboutText {
    top: 50%;
    margin: auto;
    textAlign: center;
    left: 50%;
    border: #000 solid 1px;
}

.aboutContainer h1 {
    color: #fff;
}

.aboutIframe {
    float: right;
}

.navbar-default.navbar-toggle.icon-bar {
    background-color: #000;
}

#navigation {
    z-index: 900;
}

@media (max-width: 767px) {
    .navbar-collapse {
        text-align: center;
        background: #ff4d4d;
    }
}
.articleSection {
  background-color: #f8f8f8;
  border: solid 1px #dcdcdc;
  cursor: pointer;
}
.articleSection:hover {
  background-color: #fff;
}
.articleDetails {
  text-align: center;
}
.articleForm {
  position: relative;
  display: block;
    max-width: 843px;
    left: 50vw;
    transform: translate(-50%, 0%);
}
.buttonMargin {
  margin: 0 10px 0 10px;
}
.spanImageClickDelete {
  color: #000;
  position: absolute;
  top: -95px;
  left: 82px;
}
.spanImageClickDelete:hover {
  color: #f00;
}
.selectedImage {
  outline: 4px solid #f00;
  outline-offset: -4px;
}
.imagePreview:hover {
  opacity: 0.7;
}
#bigPicture {
  z-index: 1001;
  display: block;
  max-height: 90vh;
  max-width: 90vw;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  position: fixed;
}
.closingXSign {
  top: -2%;
  position: absolute;
  right: 2%;
  font-size: 4em;
  cursor: pointer;
  z-index: 1002;
  color: #fff;
  font-weight: bol;
}
.arrow {
  z-index: 1002;
  color: #fff;
  font-weight: bold;
  top: 50%;
  position: absolute;
  font-size: 4em;
  cursor: pointer;
}
.nextArrow {
  right: 2%;
}
.previousArrow {
  left: 2%;
}
.imageNumber {
  top: 96%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  color: #fff;
  font-size: 20px;
  z-index: 1002;
  font-weight: bold;
}
.imageInputButton {
    color: transparent;
    text-align: center;
    width: 104px;
    margin-left: 0;
}
#imageInputButton {
    display: inline-block;
}
.commentSection {
    border: #fff 1px solid;
    background-color: #f8f8f8;
}
body html {
    padding: 0;
    margin: 0;
    height: 100%;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.postSection,
.commentSection,
.generalPadding {
  padding: 10px 20px 10px 20px;
}
.heading {
    margin-top: 15px;
  text-align: center;
}
.formWindow {
  border: #000 solid 1px;
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 30%;
  margin: 0 auto;
  height: 40%;
  width: 40%;
  background-color: #d6d6d6;
  opacity: 1;
    text-align: center;
}
.formComponent {
  position: fixed;
}
.spanInfo {
  margin: 10px 20px 10px 20px;
}
.navbar {
    margin-bottom: 0;
    height: 5vh;
}

.imagePreview {
    height: 100px;
    width: 100px;
}
textarea {
    resize: none;
}
.updateFormTextarea {
    transform: translate(-35%, -5%);
    left: 50%;
}

a:hover {
    cursor: pointer;
}

#imageOverlayParent {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}

#imageOverlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.95;
}

.overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    opacity: 0.75;
    overflow: hidden;
}

.spanClick {
    cursor: pointer;
}
