a:hover {
  cursor: pointer;
}

#imageOverlayParent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#imageOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.95;
}

.overlay {
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  background-color: white
  opacity: 0.75
  overflow hidden
}


.spanClick {
  cursor: pointer;
}



