a:hover {
  cursor: pointer;
}

#imageOverlayParent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#imageOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.95;
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 0.75;
}

.formWindow {
  border: black solid 1px;
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: 0 auto;
  height: 40%;
  width: 40%;
  background-color: #d6d6d6;
  opacity: 1;
}

.spanClick {
  cursor: pointer;
}



